params {
    input     = 'genomes/*.faa'

    media_databases	= [
		NO_GAPFILL: null,
		'SDMM' : "${projectDir}/assets/media/SDMM_media.tsv",
		'M9' : null
	]

    outdir    = "results"
    solver	= "scip"
    carveme_container = projectDir
        .resolve('containers/carveme-1.6.6.sif')
        .toString()
}

process {

    withName: /RUN_CARVEME_.*/ {
        container = params.carveme_container
        cpus      = 1
        memory    = '8 GB'
        time      = '12h'

        publishDir = [
            [
                path   : { "${params.outdir}/models" },
                mode   : 'symlink',
                pattern: '*.xml'
            ],
            [
                path   : { "${params.outdir}/logs" },
                mode   : 'symlink',
                pattern: '*.log'
            ]
        ]
    }
}

profiles {

    apptainer {
        apptainer {
            enabled     = true
            autoMounts  = true
            pullTimeout = '60 min'
        }
    }

    singularity {
        singularity {
            enabled     = true
            autoMounts  = true
            pullTimeout = '60 min'
        }
    }
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/trace.tsv"
}

dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/dag.html"
}
