process {
    cpus   = 1
    memory = '4 GB'
    time   = '4h'

    errorStrategy = 'terminate'

    withName: RUN_CARVEME {
        cpus   = 1
        memory = '8 GB'
        time   = '12h'

        publishDir = [
            path: { "${params.outdir}/models/${medium}" },
            mode: 'copy',
            pattern: '*.xml'
        ]

        publishDir = [
            path: { "${params.outdir}/logs/${medium}" },
            mode: 'copy',
            pattern: '*.log'
        ]
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.tsv"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/dag.html"
}

